@charset "UTF-8";
/* line 1, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/style.sass */
* {
  font-family: Roboto;
}

/* line 1, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
header {
  position: relative;
  height: 50px;
}

/* line 5, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5;
}

/* line 12, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.hamburger {
  display: none;
}

/* line 15, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 21, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

/* line 25, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.menu_link:hover {
  text-decoration: none;
  color: #1EACC7;
}

/* line 28, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

/* line 31, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.menu_item:last-child {
  border-right: none;
}

/* line 34, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 40, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 44, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

/* line 50, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

/* line 56, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

/* line 65, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.subheader_phone:hover {
  text-decoration: none;
  color: #fff;
}

/* line 68, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 2, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_mixin.sass */
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

/* line 83, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.promo {
  min-height: 800px;
  background: url(../img/uber_bg.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

/* line 87, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.promo_header {
  text-align: center;
  color: #fff;
  font-weight: 900px;
  font-size: 60px;
}

/* line 92, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.promo_subheader {
  text-align: center;
  color: #fff;
  font-weight: 700px;
  font-size: 36px;
}

/* line 97, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.promo_descr {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

/* line 104, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.promo_btn {
  display: block;
  margin: 115px auto;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 259px;
  height: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 63px;
  text-transform: uppercase;
  color: #fff;
}

/* line 2, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_mixin.sass */
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

/* line 119, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 132, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.label_white {
  background-color: #fff;
  color: #000;
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 145, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.label_white_min {
  background-color: #fff;
  color: #000;
  position: relative;
  margin: 0 auto;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  width: 79px;
  height: 27px;
}

/* line 160, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.title {
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}

/* line 169, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.title_white {
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #fff;
}

/* line 180, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 30px;
}

/* line 186, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.subtitle_white {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 30px;
}

/* line 195, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.reasons {
  padding: 71px 0 65px 0;
}

/* line 197, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 202, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

/* line 211, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.reasons_descr {
  width: 343px;
}

/* line 213, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.reasons_subtitle {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}

/* line 218, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.reasons_text {
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: #000;
}

/* line 223, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile {
  background: url(../img/Подложка.png) center center/cover no-repeat;
  min-height: 865px;
}

/* line 226, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

/* line 233, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile_item_1 {
  background: url("../img/Карточка1.png") center center/cover no-repeat;
}

/* line 235, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile_item_2 {
  background: url("../img/Карточка2.png") center center/cover no-repeat;
}

/* line 237, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile_item_3 {
  background: url("../img/Карточка3.png") center center/cover no-repeat;
}

/* line 239, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile_item_4 {
  background: url("../img/Карточка4.png") center center/cover no-repeat;
}

/* line 241, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile_item_5 {
  background: url("../img/Карточка5.png") center center/cover no-repeat;
}

/* line 243, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile_item_6 {
  background: url("../img/Карточка6.png") center center/cover no-repeat;
}

/* line 245, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

/* line 252, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.mobile_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

/* line 267, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.choice {
  min-height: 898px;
  background: url("../img/Group.png") center center/cover no-repeat;
  padding: 64px 0 138px 0;
}

/* line 271, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.choice_img {
  display: block;
  margin: 54px auto 0 auto;
}

/* line 274, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.choice_descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

/* line 280, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require {
  padding: 68px 0 84px 0;
}

/* line 282, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require_block {
  margin: 33px 0;
}

/* line 284, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require_block_nmb {
  margin-bottom: 0px;
}

/* line 286, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

/* line 290, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

/* line 294, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 300, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/Rectangle-9.png") center center/cover no-repeat;
}

/* line 309, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}

/* line 316, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require .warning .require_title {
  color: red;
}

/* line 320, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.require .warning .require_list li:before {
  background: url("../img/red.png") center center/cover no-repeat;
}

/* line 323, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.world {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url("../img/world.png") center center/cover no-repeat;
}

/* line 328, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.world_link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1fbad6;
}

/* line 339, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.world_link:hover {
  text-decoration: none;
  color: #fff;
}

/* line 342, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
footer {
  padding: 14px 23px 39px 23px;
}

/* line 345, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
footer a:hover {
  text-decoration: none;
}

/* line 348, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

/* line 353, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* line 358, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_wrapper > div {
  width: 33%;
}

/* line 360, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

/* line 363, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

/* line 367, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

/* line 376, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_social_item i {
  color: #fff;
}

/* line 378, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_links {
  width: 390px;
  margin: 0 auto;
}

/* line 381, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* line 385, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 390, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 394, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 399, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

/* line 408, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_general.sass */
.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  /* line 3, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu_item {
    padding-right: 20px;
  }
  /* line 5, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu_link {
    font-size: 13px;
  }
  /* line 8, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo_header {
    font-size: 50px;
  }
  /* line 11, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_block {
    align-items: flex-start;
  }
  /* line 13, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_descr {
    width: 300px;
  }
  /* line 16, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .mobile_item {
    width: 290px;
  }
  /* line 18, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .mobile_item_subtitle {
    font-size: 22px;
  }
  /* line 20, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .choice {
    padding: 55px 0;
    min-height: 840px;
  }
  /* line 24, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .require br {
    display: none;
  }
  /* line 27, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div {
    width: 50%;
  }
  /* line 29, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    width: 25%;
  }
  /* line 31, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  /* line 35, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_mobile {
    display: flex;
  }
  /* line 37, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_mobile a {
    margin: 0 3px;
  }
  /* line 39, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_mobile a img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  /* line 42, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .title {
    font-size: 28px;
  }
  /* line 45, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu_item {
    padding-right: 8px;
  }
  /* line 47, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu_link {
    font-size: 10px;
  }
  /* line 51, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_logo img {
    width: 100%;
  }
  /* line 53, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_official {
    font-size: 11px;
  }
  /* line 55, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_phone {
    font-size: 18px;
  }
  /* line 57, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  /* line 62, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo_header {
    font-size: 40px;
  }
  /* line 64, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo_subheader {
    font-size: 30px;
  }
  /* line 67, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_block {
    flex-direction: column;
    align-items: center;
  }
  /* line 70, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_round {
    margin-right: 0;
  }
  /* line 72, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_descr {
    width: 300px;
    margin-top: 20px;
  }
  /* line 75, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .choice {
    min-height: 800px;
  }
  /* line 77, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .choice_img {
    width: 100%;
  }
  /* line 79, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .world {
    min-height: 650px;
  }
  /* line 82, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper {
    flex-wrap: wrap;
  }
  /* line 84, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  /* line 89, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  /* line 91, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  /* line 95, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .title {
    margin-top: 25px;
  }
  /* line 97, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  /* line 109, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu_active {
    left: 0;
  }
  /* line 111, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  /* line 115, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu_link {
    font-size: 20px;
  }
  /* line 117, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  /* line 125, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  /* line 133, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .hamburger_active span {
    margin-bottom: -2px;
  }
  /* line 135, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  /* line 137, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  /* line 139, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  /* line 141, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .xs-hidden {
    display: none;
  }
  /* line 143, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .xs-visible {
    display: block;
  }
  /* line 146, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  /* line 154, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  /* line 161, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo_header {
    line-height: 45px;
  }
  /* line 163, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons {
    padding: 40px 0;
  }
  /* line 165, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_descr {
    width: 350px;
  }
  /* line 167, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_subtitle {
    text-align: center;
  }
  /* line 169, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_text {
    margin-top: 10px;
  }
  /* line 171, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .mobile {
    padding: 40px 0;
  }
  /* line 173, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .choice {
    min-height: 600px;
    padding: 40px 0;
  }
  /* line 176, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .require {
    padding: 40px 0;
  }
  /* line 178, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .world {
    min-height: 450px;
  }
}

@media (max-width: 575px) {
  /* line 182, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  nav {
    height: 30px;
  }
  /* line 184, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  header {
    height: 30px;
  }
  /* line 186, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  /* line 190, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-top: 11px;
  }
  /* line 194, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader {
    height: 60px;
    top: 30px;
  }
  /* line 197, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_official {
    display: none;
  }
  /* line 199, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_logo {
    margin-top: 16px;
  }
  /* line 201, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  /* line 206, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 9px;
    margin-top: 6px;
  }
  /* line 211, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .subheader_btn:hover {
    background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  }
  /* line 213, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  /* line 216, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo_descr {
    display: none;
  }
  /* line 218, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  /* line 222, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  /* line 227, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
    font-size: 16px;
  }
  /* line 232, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .promo_btn:hover {
    background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  }
  /* line 234, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu {
    width: 85%;
  }
  /* line 236, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  /* line 240, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .menu_link {
    display: block;
  }
  /* line 245, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }
  /* line 247, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(5px) rotate(45deg);
  }
  /* line 249, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons {
    padding: 22px 0 36px 0;
  }
  /* line 251, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_block {
    margin-top: 26px;
  }
  /* line 253, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  /* line 256, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_descr {
    width: 100%;
    margin-top: 27px;
  }
  /* line 259, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_subtitle {
    font-size: 16px;
    text-align: left;
  }
  /* line 262, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .reasons_text {
    margin-top: 0;
  }
  /* line 264, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .mobile {
    padding: 20px 0 40px 0;
  }
  /* line 266, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .mobile .row {
    margin-top: 30px;
  }
  /* line 268, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .mobile_item {
    height: 254px;
    padding: 81px 40px 0 40px;
  }
  /* line 271, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .mobile_item_subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  /* line 274, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .mobile_item_plus {
    bottom: 28px;
  }
  /* line 277, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
    background-color: #1EACC7;
  }
  /* line 279, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .choice {
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: #000;
  }
  /* line 283, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .choice_img {
    margin-top: 35px;
  }
  /* line 285, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .choice_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  /* line 291, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .choice .black {
    display: none;
  }
  /* line 293, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .hidden-320 {
    display: none;
  }
  /* line 295, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .require {
    padding: 25px;
  }
  /* line 297, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .require_block {
    margin: 30px 0 0 0;
  }
  /* line 299, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .require_title {
    font-size: 16px;
  }
  /* line 301, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .require_list {
    padding-left: 30px;
    margin-top: 5px;
  }
  /* line 304, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .require_list li {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  /* line 308, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .require_descr {
    font-size: 14px;
    margin-top: 15px;
  }
  /* line 311, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .world {
    min-height: 360px;
    padding: 25px 0 30px 0;
  }
  /* line 314, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .world_link {
    width: 200px;
    display: block;
    bottom: 30px;
    line-height: 15px;
  }
  /* line 319, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  footer {
    padding: 25px 0 20px 0;
  }
  /* line 322, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_divider {
    width: 253px;
    margin: 0 auto;
  }
  /* line 325, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper {
    padding-top: 22px;
  }
  /* line 327, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div {
    margin-bottom: 20px;
  }
  /* line 329, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    order: 2;
  }
  /* line 331, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div:nth-child(2) {
    order: 1;
  }
  /* line 333, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    order: 3;
  }
  /* line 335, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_links {
    width: 290px;
  }
  /* line 337, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_links_main {
    padding: 0;
    font-size: 14px;
  }
  /* line 340, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_links_sub {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 343, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_links_sub a {
    margin: 0 7px;
  }
  /* line 345, ../../../../../../../../../../../../../Users/eldiz/Desktop/projectboost/sass/_media.sass */
  .footer_links_lang {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */